html, body {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

#window {
    height: 20%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    display: flex;
    justify-content: end;
    align-items: end;
}

#input {
    font-size: 70px;
    font-family: monospace;
}

#numpad {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.row {
    display: flex;
    flex: auto;
}

button {
    margin: 5px;
    font-size: 30px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    flex: auto;
}

button:active {
    transform: translateY(2px);
}

button.operator {
    background-color:steelblue;
}

button.operator:hover {
    background-color: rgb(50, 90, 120);
}

button.number {
    background-color:slategrey;
}

button.number:hover {
    background-color: rgb(85, 95, 105);
}

button.zero {
    flex-basis: 45%;
}

button.clear {
    flex-basis: 70%;
    background-color:rgb(105, 25, 25);
}

button.clear:hover {
    background-color:rgb(135, 35, 35);
}

button.equals {
    background-color: rgb(25, 105, 25);
}

button.equals:hover {
    background-color: rgb(35, 135, 35);
}

button.dot {
    background-color: rgb(25, 25, 105);
}

button.dot:hover {
    background-color: rgb(35, 35, 135);
}